.image-container {
  position: relative;
  overflow: hidden;
  width: 350px;
  height: 250px;
}

.image-container img {
  transition: transform 0.3s ease;
  width: 100%;
  height: 100%;
}

.image-container:hover img {
  transform: scale(1.2);
}

.handIconColor {
  color: rgba(127, 198, 164, 1);
}
