<!DOCTYPE html>

<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width">
  <title>Line Rotate</title>
  <link rel="stylesheet" href="style.css">


</head>

<body>
  <section>
    <div class='container even'>
      <div class='icon'>
        <i class="fa-solid fa-desktop"></i>
      </div>
      <div class='text'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </div>
    </div>
    <div class='container odd'>
      <div class='icon'>
        <i class="fa-solid fa-calendar-days"></i>
      </div>
      <div class='text'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make
        a type specimen book.
      </div>
    </div>
    <div class='container even'>
      <div class='icon'>
        <i class="fa-solid fa-book"></i>
      </div>
      <div class='text'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.</div>
    </div>
    <div class='container odd'>
      <div class='icon'>
        <i class="fa-solid fa-business-time"></i>
      </div>
      <div class='text'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.</div>
    </div>
    <div class='container even'>
      <div class='icon'>
        <i class="fa-solid fa-layer-group"></i>
      </div>
      <div class='text'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.</div>
    </div>
    <div class='container odd'>
      <div class='icon'>
        <i class="fa-solid fa-landmark"></i>
      </div>
      <div class='text'>
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and
        scrambled it to make a type specimen book.</div>
    </div>
  </section>
  <script src="https://kit.fontawesome.com/23aa369c62.js" crossorigin="anonymous"></script>
</body>

</html>